@font-face {
  font-family: "Mansalva";
  src: url('../assets/fonts/Mansalva-Regular.ttf');
  font-display: swap;
}

.container {
  width: 600px;
  margin: auto;
  text-align: center;
  .logo {
    background: url('../assets/images/logo.png') center / 50% no-repeat;
    width: 253px;
    height: 109px;
    display: inline-block;
  }
  p {
    font-size: 20px;
    line-height: 1.1;
    font-family: Mansalva;
  }
}
